/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------- >RESET END<---------------- */

header{
    width: 100%;
    height: 200px;
    background-color: #333333;
    display: flex;
    justify-content: center;
}
 header .container{
    width: 70%;
    height: 100px;
}
header .container .con-top{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container .con-top .logo h1{
    font-size: 2.5rem;
    
}
header .container .con-top .logo h1, h5 {
    color: #c0bab6;
    font-family: 'Times New Roman', Times, serif;
     
    
}
header .container .con-top .inp-tx{
    background-color: #232323 ;
    padding: 5px;
    border: 1px solid rgb(145, 145, 145)
}
header .container .con-top .inp-sb{
    background-color: #f90 ;
    padding: 5px;
    border: none;
    color: #fff
}
header .container nav ul{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}
header .container nav{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #232323;

}
header .container nav ul li a{
    color: #fff;
    text-decoration: none;
}
header .container nav ul li a:hover{
    color: #f90 

}

